option:disabled,.dropdown-content li>a, .dropdown-content li>span {
    color: purple;
}

.select-wrapper input.select-dropdown{
    color: white;
}

.btn, .btn-large {
    background-color: rebeccapurple;
}